.sprite {
    background-image: url(../image/icons.png);
    background-repeat: no-repeat;
    display: block;
    width: 90px;
    height: 90px;
}

.sprite-104 {
    background-position: 0 0;
}

.sprite-1111 {
    background-position: -90px 0;
}

.sprite-518 {
    background-position: -180px 0;
}

.sprite-591 {
    background-position: -270px 0;
}

.sprite-CWB {
    background-position: -360px 0;
}

.sprite-GitHub {
    background-position: -450px 0;
}

.sprite-GitLab {
    background-position: 0 -90px;
}

.sprite-Holiday {
    background-position: -90px -90px;
}

.sprite-HostUS {
    background-position: -180px -90px;
}

.sprite-PTT {
    background-position: -270px -90px;
}

.sprite-VBird {
    background-position: -360px -90px;
}

.sprite-VirusTotal {
    background-position: -450px -90px;
}

.sprite-YouTube {
    background-position: 0 -180px;
}

.sprite-angularjs {
    background-position: -90px -180px;
}

.sprite-beanfun {
    background-position: -180px -180px;
}

.sprite-bootstrap {
    background-position: -270px -180px;
}

.sprite-django {
    background-position: -360px -180px;
}

.sprite-dropbox {
    background-position: -450px -180px;
}

.sprite-evernote {
    background-position: 0 -270px;
}

.sprite-facebook {
    background-position: -90px -270px;
}

.sprite-feedly {
    background-position: -180px -270px;
}

.sprite-gamer {
    background-position: -270px -270px;
}

.sprite-gmail {
    background-position: -360px -270px;
}

.sprite-google-calendar {
    background-position: -450px -270px;
}

.sprite-google-drive {
    background-position: 0 -360px;
}

.sprite-google-map {
    background-position: -90px -360px;
}

.sprite-google-map-lite {
    background-position: -180px -360px;
}

.sprite-google-photo {
    background-position: -270px -360px;
}

.sprite-google-plus {
    background-position: -360px -360px;
}

.sprite-google-translate {
    background-position: -450px -360px;
}

.sprite-imgur {
    background-position: 0 -450px;
}

.sprite-jorsindo {
    background-position: -90px -450px;
}

.sprite-jquery {
    background-position: -180px -450px;
}

.sprite-laravel {
    background-position: -270px -450px;
}

.sprite-luckydog {
    background-position: -360px -450px;
}

.sprite-mobile01 {
    background-position: -450px -450px;
}

.sprite-motocity {
    background-position: -540px 0;
}

.sprite-phalcon {
    background-position: -540px -90px;
}

.sprite-ruten {
    background-position: -540px -180px;
}

.sprite-socketIO {
    background-position: -540px -270px;
}

.sprite-spotify {
    background-position: -540px -360px;
}

.sprite-taobao {
    background-position: -540px -450px;
}

.sprite-yahoo {
    background-position: 0 -540px;
}

.sprite-yes123 {
    background-position: -90px -540px;
}
